<div class="page-content shadow">
  <h1 style="padding: 40px;">MAIN PAGE</h1>              
</div>
<br>
<div class="page-content">
  <img src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar%>" height="150px" alt="Avatar" style="border-radius: 2px;" />
</div>
<br>

<div class="container text-light">
  <span onclick='window.location.href = "/editor"' class="btn btn-info btn-lg" role="button" aria-pressed="true"
    >Editor</span
  >
  <span onclick='window.location.href = "/usystem/config"' class="btn btn-info btn-lg" role="button" aria-pressed="true"
    >Config</span
  >
</div>